header{
  display: flex;
  border-bottom: 1px solid rgb(166,180,183);
  flex-direction: column;
 margin: 0 5%;
 color: rgb(88,101,106);
 font-family: 'EB Garamond', serif;
 font-size: 1.1rem;
 height: 15vh;
}


#top-row-container{
  display: flex;
  height: 15vh;
   justify-content: space-between;
  align-items: center;
}

.header-logo{
  max-height:30%;
  max-width: auto;
}

#header-stacking-container{
  display: flex;
  flex-direction: column;
 padding-right: 5%;
 justify-content: space-between
}

#header-user-account{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 3%;
}

#search-bar{
  display: flex;
margin-top: 3%;
}



#sale-tag-line{
  justify-content: center
}


#nav{
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

#mobile-nav>ul>li{
  list-style: none;
  font-size: 20px;
  text-decoration: none;
  line-height: 40px;
  border-bottom: grey 1px solid


}

#mobile-nav>ul {
  background: rgba(255, 255, 255, 0.5);

}

#mobile-nav{
  justify-content: flex-end;
  align-items: flex-end
}

.hidden-menu{
  display: none
}

.hidden{
  display: none
}

.show{
  animation: .5s slide-in forwards;
}

.do-not-show{
  animation: .5s slide-out forwards;
}

@keyframes slide-in{
     0% {min-height: 15vh}
     100% {min-height: 50vh}

}

@keyframes slide-out{
     0% {min-height: 50vh}
     100% {min-height: 15vh}

}


@media screen and (min-width: 1200px) {
  header{
    font-size: 1.3rem
  }
}

@media screen and (max-width: 1000px) {
#nav, #header-stacking-container, #sale-tag-line, .header-logo{
  display: none;
}

#top-row-container{
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width:100%;
}



}
